<launch>

	<group ns="create3">
		<node pkg="dcsc_consensus" name="formation_WiFi" type="formation_WiFi.py" args="5 3 1">
		</node>
	</group>

	<group ns="create4">
		<node pkg="dcsc_consensus" name="formation_WiFi" type="formation_WiFi.py" args="5 4 1">
		</node>
	</group>

	<group ns="create5">
		<node pkg="dcsc_consensus" name="formation_WiFi" type="formation_WiFi.py" args="5 5 1">
		</node>
	</group>

</launch>
