<launch>

	<group ns="create3">
		<node pkg="dcsc_consensus" name="formation" type="formation.py" args="5 3 1">
		</node>
		<node pkg="dcsc_consensus" name="cool_control" type="cool_control.py" args="5 3">
		</node>
	</group>

	<group ns="create4">
		<node pkg="dcsc_consensus" name="formation" type="formation.py" args="5 4 1">
		</node>
		<node pkg="dcsc_consensus" name="cool_control" type="cool_control.py" args="5 4">
		</node>
	</group>

	<group ns="create5">
		<node pkg="dcsc_consensus" name="formation" type="formation.py" args="5 5 1">
		</node>
		<node pkg="dcsc_consensus" name="cool_control" type="cool_control.py" args="5 5">
		</node>
	</group>

</launch>
