<launch>

	<group ns="node0">
		<node pkg="dcsc_consensus" name="consensus" type="consensus.py">
			<param name="x" value="750"/>
			<param name="y" value="550"/>
			<param name="theta" value="0"/>
			<rosparam param="connected_to">[]</rosparam>
		</node>
	</group>

	<group ns="node1">
		<node pkg="dcsc_consensus" name="consensus" type="consensus.py">
			<param name="x" value="400"/>
			<param name="y" value="0"/>
			<param name="theta" value="0"/>
			<rosparam param="connected_to">[0]</rosparam>
		</node>
	</group>

	<group ns="node2">
		<node pkg="dcsc_consensus" name="consensus" type="consensus.py">
			<param name="x" value="10"/>
			<param name="y" value="10"/>
			<param name="theta" value="0"/>
			<rosparam param="connected_to">[1]</rosparam>
		</node>
	</group>

	<group ns="node3">
		<node pkg="dcsc_consensus" name="consensus" type="consensus.py">
			<param name="x" value="290"/>
			<param name="y" value="580"/>
			<param name="theta" value="0"/>
			<rosparam param="connected_to">[2]</rosparam>
		</node>
	</group>

	<group ns="node4">
		<node pkg="dcsc_consensus" name="consensus" type="consensus.py">
			<param name="x" value="10"/>
			<param name="y" value="500"/>
			<param name="theta" value="0"/>
			<rosparam param="connected_to">[3]</rosparam>
		</node>
	</group>

	<group ns="node5">
		<node pkg="dcsc_consensus" name="consensus" type="consensus.py">
			<param name="x" value="62"/>
			<param name="y" value="150"/>
			<param name="theta" value="0"/>
			<rosparam param="connected_to">[4]</rosparam>
		</node>
	</group>

	<group ns="node6">
		<node pkg="dcsc_consensus" name="consensus" type="consensus.py">
			<param name="x" value="800"/>
			<param name="y" value="200"/>
			<param name="theta" value="0"/>
			<rosparam param="connected_to">[0, 5]</rosparam>
		</node>
	</group>

</launch>
